@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("bootstrap.min.css");
@import url("owl.carousel.min.css");
@import url("variable.css");
@import url("global.css");
@import url("main.css");
@import url("lightgallery.min.css");
@import url("responsive.css");
@import url("jquery-ui.css");
@import url("select2.min.css");

/* range slider css */
.slider-range {
    margin: 20px 0 10px;
    background: rgba(var(--uh-dark), 0.1);
    border: 0 !important;
    height: 6px;
    border-radius: 2px;
}
.ui-slider-horizontal .ui-slider-range {
    background-color: rgba(var(--uh-primary));
}
.ui-slider-horizontal .ui-slider-handle {
    top: -0.42em;
    border: 0;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background: rgba(var(--uh-primary));
    border: 1px solid rgba(var(--uh-primary));
    box-shadow: -4px 1px 10px rgb(var(--uh-dark), 0.15) !important;
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: rgba(var(--uh-primary));
    box-shadow: -4px 1px 10px rgb(var(--uh-dark), 0.15);
    outline: 0;
    cursor: pointer;
}
.range-slider input {
    background: transparent !important;
    margin: 0 7px;
    text-align: center;
    box-shadow: none !important;
    font-weight: 600;
    color: rgba(var(--uh-dark));
}
.range-slider .d-flex {
    margin: 0 -7px;
}

/* select 2 css */
.select2-container--default .select2-selection--single {
    background-color: rgba(var(--uh-white));
    border: 0;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(var(--uh-black), 5%);
    border-radius: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    height: 50px;
    padding-left: 15px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    width: 35px;
}
.select2-search--dropdown {
    display: none;
}
span.select2-dropdown.select2-dropdown--below {
    border-radius: 0 0 5px 5px;
    border: 0;
    top: 100%;
    -webkit-box-shadow: 0 23px 50px rgba(var(--uh-black), 6%);
    box-shadow: 0 23px 50px rgba(var(--uh-black), 6%);
    overflow: hidden;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: rgba(var(--uh-primary), 10%);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(var(--uh-primary));
}
.select2-results__option {
    padding: 6px 15px;
}

@media (max-width: 1540px) {
    .select2-container--default .select2-selection--single {
        height: 45px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 45px;
        height: 45px;
    }

    .ui-slider .ui-slider-handle {
        height: 15px;
        width: 15px;
    }
    .ui-slider-horizontal .ui-slider-handle {
        top: -0.3em;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 45px;
    }
}

@media (max-width: 1140px) {
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
        height: 40px;
    }
    .select2-container--default .select2-selection--single {
        height: 40px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
    }
}
